<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iPhone1,1</key>
	<string>iPhone 2G</string>
	<key>iPhone1,2</key>
	<string>iPhone 3G</string>
	<key>iPhone2,1</key>
	<string>iPhone 3GS</string>
	<key>iPhone3,1</key>
	<string>iPhone 4 (GSM)</string>
	<key>iPhone3,2</key>
	<string>iPhone 4 (GSM Rev A)</string>
	<key>iPhone3,3</key>
	<string>iPhone 4 (CDMA)</string>
	<key>iPhone4,1</key>
	<string>iPhone 4S</string>
	<key>iPhone5,1</key>
	<string>iPhone 5 (GSM)</string>
	<key>iPhone5,2</key>
	<string>iPhone 5 (GSM + CDMA)</string>
	<key>iPhone5,3</key>
	<string>iPhone 5c (GSM)</string>
	<key>iPhone5,4</key>
	<string>iPhone 5c (Global)</string>
	<key>iPhone6,1</key>
	<string>iPhone 5s (GSM)</string>
	<key>iPhone6,2</key>
	<string>iPhone 5s (Global)</string>
	<key>iPhone7,1</key>
	<string>iPhone 6 Plus</string>
	<key>iPhone7,2</key>
	<string>iPhone 6</string>
	<key>iPhone8,1</key>
	<string>iPhone 6s</string>
	<key>iPhone8,2</key>
	<string>iPhone 6s Plus</string>
	<key>iPod1,1</key>
	<string>iPod touch 1G</string>
	<key>iPod2,1</key>
	<string>iPod touch 2G</string>
	<key>iPod3,1</key>
	<string>iPod touch 3G</string>
	<key>iPod4,1</key>
	<string>iPod touch 4G</string>
	<key>iPod5,1</key>
	<string>iPod touch 5G</string>
	<key>iPad1,1</key>
	<string>iPad</string>
	<key>iPad2,1</key>
	<string>iPad 2 (Wi-Fi)</string>
	<key>iPad2,2</key>
	<string>iPad 2 (GSM)</string>
	<key>iPad2,3</key>
	<string>iPad 2 (CDMA)</string>
	<key>iPad2,4</key>
	<string>iPad 2 (Wi-Fi Rev A)</string>
	<key>iPad2,5</key>
	<string>iPad mini (Wi-Fi)</string>
	<key>iPad2,6</key>
	<string>iPad mini (GSM)</string>
	<key>iPad2,7</key>
	<string>iPad mini (GSM + CDMA)</string>
	<key>iPad3,1</key>
	<string>iPad 3 (Wi-Fi)</string>
	<key>iPad3,2</key>
	<string>iPad 3 (GSM + CDMA)</string>
	<key>iPad3,3</key>
	<string>iPad 3 (CDMA)</string>
	<key>iPad3,4</key>
	<string>iPad 4 (Wi-Fi)</string>
	<key>iPad3,5</key>
	<string>iPad 4 (GSM)</string>
	<key>iPad3,6</key>
	<string>iPad 4 (GSM + CDMA)</string>
	<key>iPad4,1</key>
	<string>iPad Air (Wi-Fi)</string>
	<key>iPad4,2</key>
	<string>iPad Air (Cellular)</string>
	<key>iPad4,3</key>
	<string>iPad Air (Wi-Fi + Cellular CN)</string>
	<key>iPad4,4</key>
	<string>iPad mini 2G (Wi-Fi)</string>
	<key>iPad4,5</key>
	<string>iPad mini 2G (Cellular)</string>
	<key>i386</key>
	<string>iPhone Simulator</string>
	<key>x86_64</key>
	<string>iPhone Simulator</string>
</dict>
</plist>
